.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 110px;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar a {
    color: var(--text-color);
}


.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.button {
    padding: 5px 10px;
    background-color: #DA142C;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.icon-logo {
    height: 40px;
}